/target/
/target-*/
/src-tauri/gen/
/src-tauri/binaries/
/src-tauri/resources/cvc5/
/frontend/node_modules/
/frontend/dist/
/node_modules/
/.idea/
/.vscode/
*.log
/tmp
/.tmp
/.cargo/config.toml
/.cargo/config
__pycache__/
